# Target folder (Rust build outputs)
target/

# Any build artifacts that might appear
*.rmeta

# Private keys
*wallet.json

# Ignore .DS_Store (Mac OS)
.DS_Store

# Node modules (just in case)
node_modules

# Yarn error logs
yarn-error.logs

# .env file with secrets
.env